<!-- (About) section -->
<section class="section" id="about">
	<div class="container">

		<h2 class="text-left title"><%= t(:aboutme) %></h2>

		<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-left">
				<p>I am Mehdi Shahravan, and currently live in <i>Helsinki</i>. I have been creating websites "on the side" since 2006. I started updating my knowledge by reviewing and learning from self-study courses since 2013. Now that I have updated my skillset I am ready for a challenging position which lets me to continue building upon these skills.</p>
		</div>
			<div class="col-sm-8 col-sm-offset-2 text-left">
					<h5><b>Knowledge & Skills</b></h5>
					<table class="table">
					<tbody>
						<tr>
							<td>HTML5</td>
							<td>CSS3</td>
							<td>Javascript</td>
							<td>Ruby</td>
							<td>MySQL/PostgreSQL</td>
						</tr>
						<tr>
							<td>Linux</td>
							<td>Sublime</td>
							<td>Ruby on Rails</td>
							<td>Git</td>
							<td>OOP</td>
						</tr>
						<tr>
							<td>MVC Pattern</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

					</tbody>
				</table>

			 </div>
			 <div class = "col-sm-8 col-sm-offset-2">
			 	<h5><b>Education</b></h5>
					<table class="table">
						<tbody>
							<tr>
								<td>Azad University</td>
								<td>Bachelor degree in software engineering</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
</section>
