<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title"><%= t(:aboutme) %></h2>
			
		<div class="row">
		<div class="col-sm-8 col-sm-offset-2">    
				<h5>I am Mehdi Shahravan, and currently live in Helsinki. I Gratuated 'Azad' university in software engineering. I have been creating websites "on the side" since 2006. I have updated my skillset so I am ready for a challenging position which lets me to continue building upon these skills.</h5>				    
		</div>
			<div class="col-sm-8 col-sm-offset-2">    
				<h5>Languages, OS, Databases, Editor and Framework which I am interested in, are :<br></h5>
				<ul>
					<li> CSS </li>
					<li>Html</li>
					<li>Ruby</li>
					<li>Javascript</li>
					<li> Linux </li>
					<li> MySQL </li>
					<li> Sublime </li>
					<li> PostgreSQL </li>
					<li> Ruby on Rails </li>
				</ul>    
			 </div> 
		</div>
	</div>
</section>
