<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title"><%= t(:aboutme) %></h2>
			<div class="col-sm-8 col-sm-offset-2">    
				<h5><strong><i>I am Mehdi Shahravan, currently live in Helsinki. Gratuated from university in software engineering in 2000.<i><br></strong></h5></br></br>
				<!-- <ul>
					<li>Javascripts</li>
					<li>Css</li>
					<li>Html</li>
					<li>Ruby</li>
					<li>C (A little bit)</li>
				</ul>  -->   
			</div>
















		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong><i>Languages which I am interested in are:<i><br></strong></h5>
				<ul>
					<li>Javascripts</li>
					<li>Css</li>
					<li>Html</li>
					<li>Ruby</li>
					<li>C (A little bit)</li>
				</ul>    
			</div>
			<div class="col-sm-4">
				<h5><strong>The framework which I am interested in working with is:<br></strong></h5>    
				<ul> 
					<li>Ruby on Rails</li>
				</ul>    
				<h5><strong>The editor which I am working mostly is:<br></strong></h5>
				<ul> 
					<li>Sublime</li>
				</ul>
				<h5><strong>The OS which I am currently working with is:<br></strong></h5>
				<ul>
					<li>Linux</li>
				</ul>
			</div>
		</div>
	</div>
</section>
