<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title">About me</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>Languages which I am interested in are: <br></strong></h5>
				<ul>
					<li> Ruby </li>
					<li> Html </li>
					<li> Css </li>
					<li> Javascripts </li>
				</ul>    
			</div>
			<div class="col-sm-4">
				<h5><strong>The framework which I am working with is: <br></strong></h5>    
				<ul> 
					<li> Ruby on Rails </li>
				</ul>    
				<h5><strong>The editor which I am working with is: <br></strong></h5>
				<ul> 
					<li> Sublime </li>
				</ul>
				<h5><strong>The OS which I am working with is: <br></strong></h5>
				<ul>
					<li> Linux </li>
				</ul>
			</div>
		</div>
	</div>
</section>
