<!-- (Contact) section -->
<section class="section" id="contact">
	<div class="container">

		<h2 class="text-left title">Get in Touch</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-left">
				<table class="table">
					<thead>
						<tr>
							<td>urormsh@gmail.com</td>
							<td><a href = "http://arcane-citadel-6636.herokuapp.com/" target = "_blank"><i class = "fa fa-home fa-2x"></i></a> My Blog</td>
							<td><i class=" fa fa-skype fa-2x"></i> urormsh</td>
						</tr>
					</thead>
				</table>


			</div>
		</div>
	</div>
</section>
