<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container">

		<h2 class="text-left title">Get in Touch</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-left">
			<h3 class "tagline">

			</h3>
				<!-- <p>Feel free to get in touch:</p> -->
				<table class="table">
					<thead>
						<tr>
							<td>urormsh@gmail.com</td>
							<td><a href = "http://arcane-citadel-6636.herokuapp.com/" target = "_blank"><i class = "fa fa-home fa-2x"></i></a> My Blog</td>
							<td><i class=" fa fa-skype fa-2x"></i> urormsh</td>
						</tr>
					</thead>
				</table>

			<!--  <ul class="list-inline list-social">
			<li><a href="https://twitter.com/serggg" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
			<li><a href="https://github.com/" class="btn btn-link">
			<i class="fa fa-github fa-fw"></i> Github</a></li>
			<li><a href="http://linkedin/in/pozhilov" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
						</ul>  -->
			</div>
		</div>
		<!-- <div class="mastfoot col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" id = "pageFooter">
		              <p>Converted by urormsh</p>
		 </div> -->
	</div>
</section>
