<!-- (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-left">

				<h1 class="title">U.ROR.M.SH</h1>
					<h1 class ="subtitle">Building Web 		Application </h1>
				<h3 class="tagline">
			 	 interested in Front-end development, Back-end development, side projects and remote projects.<br>
			    </h3>

			</div>
		</div>
	</div>
</section>




