<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" size = "30" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu list-inline" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active"><%#=t :frontpage %>Front Page</a></li>
				<li><a href="#about"><%#= t(:aboutme) %>About Me</a></li>
				<li><a href="#themes"><%#= t(:recent) %>Recent Projects</a></li>
				<li><a href="#contact"><%#= t(:contact) %>Get in touch</a></li>
			</ul>
		</div>
	</div>
</nav>