<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active"><%#=t :frontpage %><small> Front Page </small></a></li>
				<li><a href="#about"><%#= t(:aboutme) %><small> About Me </small></a></li>
				<li><a href="#themes"><%#= t(:recent) %><small> Recent Projects </small></a></li>
				<li><a href="#contact"><%#= t(:contact) %><small> Get in touch </small></a></li>
			</ul>
		</div>
	</div>
</nav>