<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active"><%=t :frontpage %></a></li> 
				<li><a href="#about"><%= t(:aboutme) %></a></li>
				<li><a href="#themes"><%= t(:recent) %></a></li>
				<li><a href="#contact"><%= t(:contact) %></a></li>
			</ul>
		</div>
	</div>
</nav>