<!-- (Work) section -->
<section class="section" id="themes">
	<div class="container">

		<h2 class="text-left title">Recent Works</h2>
		<p class="lead text-center">

		</p>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2 text-left">
				<div class="thumbnail">
					<%= image_tag("spirit-app.png") %>
					<div class="caption">
						<p><%= link_to 'See Details', 'http://vast-sierra-1095.herokuapp.com/',
						 :class => 'btn btn-default', :target => "_blank"%></p>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>